/***************
*    UI MENU   *
***************/

div.ui.borderless.teal.inverted.labeled.icon.menu {
    border-radius:0 !important;
}

a.item {
    min-width:9em !important;
}

.swiper-slide > img , .about > img{
    width: inherit !important;
    height: inherit!important;
}

#about , #event , #contact  {
    padding-top: 5em !important ;
    padding-bottom: 5em !important ;
}

.about {
    opacity:0;
    transform:translateY(50px);
    transform: all 1s ease-out;
}

.about.fade-in {
    opacity:1;
    transform:translateY(0);
}



#event{
    background-color: #00b5ad ! important ;

}

.button-rounder{
    border-radius: 50px ! important;
     border: 2px solid #fbbd08 ! important;
}

.button-rounder:hover{
    background-color:#ffffff !important ;
    border: 2px solid #fbbd08 ! important;

}

.hidden > i.right.arrow.icon {
    color:#fbbd08 ! important ;
}

.teal-bg:hover{
    background-color:#00b5ad ! important ;
}

div.button.border-none{
     border: 1px #00b5ad ! important;
}

i.circular.teal.users.icon:hover{
    color:#fbbd08 ! important ;
}

