/***************
*    UI MENU   *
***************/

div.ui.borderless.teal.inverted.labeled.icon.menu {
    border-radius:0 !important;
}

a.item {
    min-width:9em !important;
}

.swiper-slide > img , .about > img{
    width: inherit !important;
    height: inherit!important;
}

#about , #event , #contact  , #viewEvents , #aboutWrapper  , #intro2 , #intro3{
    padding-top: 5em !important ;
    padding-bottom: 5em !important ;
}

.about {
    opacity:0;
    transform:translateY(50px);
    transform: all 1s ease-out;
}

.about.fade-in {
    opacity:1;
    transform:translateY(0);
}



#event{
    background-color: #00b5ad ! important ;

}

.button-rounder{
    border-radius: 50px ! important;
     border: 2px solid #fbbd08 ! important;
}

.button-rounder:hover{
    background-color:#ffffff !important ;
    border: 2px solid #fbbd08 ! important;

}

.hidden > i.right.arrow.icon {
    color:#fbbd08 ! important ;
}

.teal-bg:hover{
    background-color:#00b5ad ! important ;
}

div.button.border-none{
     border: 1px #00b5ad ! important;
}

i.circular.teal.users.icon:hover{
    color:#fbbd08 ! important ;
}


#viewEvents {
   background-color: #f1f1f1;
    margin-top:68px ! important;
}

i.right.arrow.icon.new-event{
    color:#ffffff !important;
}


.gallery-grid{
    padding:0px !important;
}



 .ui.four.cards.gallery-grid.centered  .ui.left.floated.image  {
    margin-top:-4px !important ;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.ui.left.floated.image .gallery-grid-image {
    width:250px;
    height:250px ;
    max-height: 250px !important;
  
}


#jumbotron , #video-heading  , #intro2-heading , #intro3-heading {
    width:100%;
    height:120px !important;
    padding:4em 1em 2em 1em;
}

#jumbotron{
    background-color: #fbbd08;
}

.sub-header-fix{
    margin-top:69px;
}

#video-heading{
    background-color: #ffffff;
}


#news{
    width:100%;
    height:60px !important;
    padding:4em 1em;
    background-color: #fbbd08;
    
}

#contact {
    padding-bottom: 0em !important;
}

.mobile-screen , {
    display:none !important;
}





#intro2-heading{

    background-color: #00b5ad;
}


 #intro3-heading{

    background-color: #fbbd08;
}

#intro3{

    background-color: #00b5ad;
}


/*media query*/

@media only screen and (max-width: 768px) {
    .large-screen {
        display:none !important;
    }

    .mobile-screen{
        display:block !important;
    }

    .mobile-nav{
        width:100%;
        background-color :#00b5ad ! important;
        padding:2px 10px;
    }

    #carousel{
        margin-top:73px !important;
         
    }
}



